### Genre Exploration

In [3]:
# dependencies
import pandas as pd
from pathlib import Path
import scipy.stats as stats

In [11]:
#import csv's
data_parq = Path("Resources/mo_movies_data.parquet")

data_df = pd.read_parquet(data_parq)

In [13]:
data_df

,Title,Year,IMDB Rating,IMDB Votes,Genre,Box Office,IMDB ID,Budget,Revenue
0,Camille Claudel 1915,2013,6.5,3889.0,"Biography, Drama","$35,296",tt2018086,3512454,115860.0
1,A Sound of Thunder,2005,4.2,20549.0,"Action, Adventure, Horror","$1,900,451",tt0318081,80000000,5989640.0
2,The Jacket,2005,7.1,119641.0,"Drama, Fantasy, Mystery","$6,303,762",tt0366627,29000000,21126225.0
3,The Interpreter,2005,6.4,111280.0,"Crime, Mystery, Thriller","$72,708,161",tt0373926,80000000,162944923.0
4,The Ring Two,2005,5.4,101457.0,"Horror, Mystery","$76,231,249",tt0377109,50000000,161451538.0
...,...,...,...,...,...,...,...,...,...
2311,FC Venus,2005,5.5,2325.0,"Comedy, Romance, Sport",N/A,tt0453365,2196531,2411594.0
2312,Sivaji,2007,7.5,21484.0,"Action, Crime, Drama",N/A,tt0479751,12000000,19000000.0
2313,Dikari,2006,6.5,693.0,Comedy,N/A,tt0933361,800000,1328612.0
2314,Pro lyuboff,2010,5.8,297.0,Drama,N/A,tt1718881,2000000,1268793.0
2315,Antidur,2007,3.4,232.0,"Action, Comedy, Crime",N/A,tt1110037,5000000,1413000.0

In [49]:
# use str.contains() function to get genres - create action genre df
action_movies = data_df[data_df["Genre"].str.contains("Action")]
action_movies

,Title,Year,IMDB Rating,IMDB Votes,Genre,Box Office,IMDB ID,Budget,Revenue
1,A Sound of Thunder,2005,4.2,20549.0,"Action, Adventure, Horror","$1,900,451",tt0318081,80000000,5989640.0
8,Elektra,2005,4.7,98572.0,"Action, Adventure, Crime","$24,409,722",tt0357277,43000000,56681566.0
11,Assault on Precinct 13,2005,6.3,82100.0,"Action, Crime, Drama","$20,040,895",tt0398712,30000000,35294470.0
13,Alone in the Dark,2005,2.4,47103.0,"Action, Horror, Sci-Fi","$5,178,569",tt0369226,20000000,10442808.0
19,Constantine,2005,7.0,376534.0,"Action, Fantasy, Horror","$75,976,178",tt0360486,100000000,230884728.0
...,...,...,...,...,...,...,...,...,...
2304,Black Rose,2014,2.8,2652.0,"Action, Crime, Drama",N/A,tt3266724,7000000,855450.0
2306,Battalion,2015,6.5,1703.0,"Action, Drama, History",N/A,tt4187590,10000000,7547762.0
2307,Fanaa,2006,7.1,35217.0,"Action, Drama, Romance","$2,105,352",tt0439662,5300000,22175908.0
2312,Sivaji,2007,7.5,21484.0,"Action, Crime, Drama",N/A,tt0479751,12000000,19000000.0
2315,Antidur,2007,3.4,232.0,"Action, Comedy, Crime",N/A,tt1110037,5000000,1413000.0

In [58]:
# create all the genre df's you want to explore here:
horror_movies = data_df[data_df["Genre"].str.contains("Horror")]
comedy_movies = data_df[data_df["Genre"].str.contains("Comedy")]
drama_movies = data_df[data_df["Genre"].str.contains("Drama")]
scifi_movies = data_df[data_df["Genre"].str.contains("Sci-Fi")]

In [70]:
# here's the entire list of genres to pull from:
data_df["Genre"].unique()

array(['Biography, Drama', 'Action, Adventure, Horror',
       'Drama, Fantasy, Mystery', 'Crime, Mystery, Thriller',
       'Horror, Mystery', 'Animation, Comedy, Crime',
       'Adventure, Comedy, Family', 'Drama, Horror, Mystery',
       'Action, Adventure, Crime', 'Adventure, Comedy, Drama',
       'Biography, Drama, Sport', 'Action, Crime, Drama',
       'Action, Horror, Sci-Fi', 'Comedy, Romance',
       'Documentary, Biography, History', 'Action, Fantasy, Horror',
       'Comedy, Drama, Family', 'Comedy, Horror', 'Action, Comedy, Drama',
       'Comedy, Crime, Music', 'Animation, Adventure, Comedy', 'Drama',
       'Crime, Thriller', 'Comedy', 'Action, Adventure, Comedy',
       'Comedy, Drama, Romance', 'Adventure, Comedy, Sci-Fi', 'Horror',
       'Action, Adventure, Drama', 'Horror, Thriller',
       'Action, Crime, Thriller', 'Action, Adventure, Fantasy',
       'Comedy, Family, Romance', 'Drama, Horror, Thriller',
       'Comedy, Crime, Sport', 'Biography, Drama, Romance',
       'Action, Comedy, Crime', 'Horror, Sci-Fi, Thriller',
       'Comedy, Fantasy, Romance', 'Action, Adventure, Sci-Fi',
       'Documentary, Family', 'Comedy, Family, Sport',
       'Documentary, Sport', 'Crime, Drama, Music',
       'Action, Sci-Fi, Thriller', 'Comedy, Sport',
       'Action, Comedy, Family', 'Comedy, Drama, Mystery',
       'Action, Drama, War', 'Thriller', 'Adventure, Horror, Sci-Fi',
       'Comedy, Music, Romance', 'Drama, Mystery, Romance',
       'Comedy, Drama, Fantasy', 'Drama, Mystery', 'Crime, Drama',
       'Comedy, Drama', 'Action, Biography, Crime',
       'Drama, Family, Romance', 'Drama, Mystery, Thriller',
       'Animation, Comedy, Drama', 'Biography, Crime, Drama',
       'Drama, Fantasy', 'Comedy, Crime, Mystery',
       'Drama, Romance, Sport', 'Crime, Drama, Sport', 'Drama, Romance',
       'Biography, Drama, History', 'Crime, Drama, Western',
       'Action, Adventure, Romance', 'Biography, Drama, War',
       'Drama, History, Music', 'Drama, Thriller',
       'Crime, Drama, Thriller', 'Adventure, Family, Fantasy',
       'Biography, Drama, Music', 'Drama, Musical, Romance',
       'Drama, Family', 'Drama, Romance, Thriller',
       'Comedy, Crime, Thriller', 'Adventure, Crime, Drama',
       'Action, Drama, History', 'Comedy, Crime, Musical',
       'Comedy, Crime', 'Action, Drama, Romance',
       'Action, Fantasy, Thriller', 'Comedy, Family, Fantasy',
       'Documentary, Comedy, Music', 'Drama, Fantasy, Horror',
       'Crime, Drama, Mystery', 'Adventure, Drama, Family',
       'Action, Sci-Fi', 'Action, Drama, Thriller',
       'Action, Drama, Sci-Fi', 'Comedy, Romance, Sport',
       'Biography, Comedy, Crime', 'Drama, Music',
       'Fantasy, Horror, Mystery', 'Comedy, Crime, Drama',
       'Animation, Action, Sci-Fi', 'Comedy, Music',
       'Action, Adventure, Thriller', 'Mystery, Thriller',
       'Drama, Fantasy, Romance', 'Documentary',
       'Animation, Comedy, Family', 'Comedy, Crime, Fantasy',
       'Drama, History, Thriller', 'Horror, Mystery, Thriller',
       'Action, Sport', 'Drama, War', 'Adventure, Fantasy, Horror',
       'Documentary, Action, Comedy', 'Drama, Fantasy, War',
       'Action, Adventure, Family', 'Drama, Sport',
       'Drama, Mystery, Sci-Fi', 'Animation, Action, Adventure',
       'Crime, Drama, Fantasy', 'Action, Crime, Sci-Fi',
       'Adventure, Comedy, Music', 'Adventure, Drama, Thriller',
       'Action, Drama, Sport', 'Drama, Music, Musical',
       'Crime, Drama, Romance', 'Action, Adventure, Mystery',
       'Drama, Music, Romance', 'Drama, Family, Fantasy',
       'Adventure, Comedy, Fantasy', 'Adventure, Drama, Sci-Fi',
       'Action, Comedy, Mystery', 'Action, Drama',
       'Drama, Horror, Sci-Fi', 'Drama, Thriller, War',
       'Sci-Fi, Thriller', 'Biography, Comedy, Drama', 'Comedy, Family',
       'Animation, Adventure, Fantasy', 'Comedy, Drama, Musical',
       'Horror, Sci-Fi', 'Comedy, Drama, Horror',
       'Adventure, Biography, War', 'Documentary, Drama',
       'Action, Thriller', 'Crime, Horror, Mystery',
       'Action, Mystery, Thriller', 'Comedy, Crime, Romance',
       'Action, Adventure, History', 'Action, Comedy, Thriller',
       'Documentary, War', 'Adventure, Biography, Drama',
       'Action, Horror, Thriller', 'Crime, Horror, Thriller',
       'Action, Drama, Horror', 'Crime, Thriller, War',
       'Drama, Horror, Musical', 'Action, Drama, Fantasy',
       'Comedy, Fantasy', 'Documentary, Music',
       'Documentary, Crime, History', 'Action, Biography, Drama',
       'Fantasy, Horror, Sci-Fi',
       'Animation, Action, Adventure, Fantasy, Sci-Fi',
       'Adventure, Drama, History', 'Action, Comedy, Sci-Fi',
       'Adventure, Comedy', 'Adventure, Comedy, Romance',
       'Action, Adventure, Drama, Fantasy, Sci-Fi', 'Action, Adventure',
       'Action, Comedy', 'Animation, Adventure, Family',
       'Comedy, Musical, Romance', 'Drama, History, War',
       'Drama, History, Romance', 'Action, Drama, Mystery',
       'Crime, Drama, Horror', 'Action, Comedy, War',
       'Documentary, Animation, Biography', 'Action, Western',
       'Comedy, Sci-Fi', 'Action, Crime, Fantasy', 'Comedy, Drama, Music',
       'Adventure, Drama, Romance', 'Mystery, Romance, Thriller',
       'Horror, Mystery, Sci-Fi', 'Animation, Drama, Family',
       'Comedy, Fantasy, Horror', 'Action, Mystery, Sci-Fi', 'Action',
       'Adventure, Drama, War', 'Comedy, Drama, Sci-Fi',
       'Action, Horror, Mystery', 'Comedy, War', 'Action, Comedy, Horror',
       'Action, Crime, Mystery', 'Adventure, Drama, Fantasy',
       'Drama, Romance, War', 'Drama, Romance, Sci-Fi',
       'Drama, Fantasy, Thriller', 'Biography, Drama, Family',
       'Action, Adventure, Biography', 'Action, Comedy, Romance',
       'Animation, Action, Adventure, Sci-Fi', 'Action, Drama, Family',
       'Action, Comedy, Fantasy', 'Documentary, Drama, Mystery',
       'Documentary, Crime', 'Drama, History',
       'Biography, Drama, Thriller', 'Drama, Western',
       'Animation, Adventure, Drama', 'Comedy, Crime, History',
       'Comedy, Drama, Sport', 'Drama, Sci-Fi', 'Action, Fantasy',
       'Drama, Mystery, War', 'Crime, Drama, History',
       'Fantasy, Horror, Thriller', 'Action, Crime, Horror',
       'Crime, Mystery, Romance', 'Adventure, Drama, Mystery',
       'Comedy, Musical', 'Adventure, Mystery, Sci-Fi',
       'Comedy, Horror, Sci-Fi', 'Documentary, Biography, Music',
       'Adventure, Fantasy', 'Comedy, Horror, Romance',
       'Comedy, Drama, Western', 'Documentary, Biography, Crime',
       'Action, Biography, Comedy', 'Adventure, Drama',
       'Animation, Biography, Drama', 'Drama, Sci-Fi, Thriller', 'Music',
       'Drama, History, Mystery', 'Thriller, Western',
       'Action, Family, Fantasy', 'Adventure, Comedy, Crime',
       'Animation, Action, Adventure, Family, Fantasy, Sci-Fi',
       'Action, Fantasy, Sci-Fi', 'Comedy, Drama, War',
       'Animation, Adventure, Sci-Fi', 'Drama, Family, Music',
       'Adventure, Family, Sci-Fi', 'Drama, Fantasy, Music',
       'Action, Comedy, Sport', 'Adventure, Fantasy, Mystery',
       'Drama, Horror, Romance', 'Adventure, Biography, Comedy',
       'Comedy, Mystery, Sci-Fi', 'Adventure, Horror', 'Comedy, History',
       'Crime, Romance, Thriller', 'Action, Drama, Musical',
       'Comedy, Horror, Thriller', 'Comedy, Music, War', 'Musical',
       'Comedy, Drama, Thriller', 'Action, Romance',
       'Documentary, Biography, Sport', 'Comedy, Sci-Fi, Thriller',
       'Adventure, Fantasy, Romance', 'Action, Romance, Sci-Fi'],
      dtype=object)

Code and notes

In [ ]:
# Below, I tried to use a for loop for creating each genre df for us. It was annoying and complicated,
# then i found the str.contains() function with is very simple. So I'd recommend using that to create genre df's for 
# each genre you want to explore

In [53]:
# # use loop for creating genres dictionary?
# genre_df = {}

# # Create a DataFrame for each year
# for genre in data_df['Genre']:
#     genre_df = data_df[data_df['Genre'].isin([genre])]
#     genre_dataframes[genre] = genre_df

# # Access the DataFrame for a specific year
# genre_action_df = genre_dataframes.get(Action)

In [ ]:
# https://stackoverflow.com/questions/19169649/how-to-use-str-contains-with-multiple-expressions-in-pandas-dataframes

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isin.html#pandas.DataFrame.isin

In [ ]:
# https://www.geeksforgeeks.org/difference-between-list-vs-set-vs-tuple-in-python/

In [55]:
# tried using is but had errors. str.contains() worked better
# action_df = data_df[data_df["Action"].isin["Genre"]]
# action_df