### Project1_MoMovies - Mo Money Movies

##### How to Make The Most Money with One Movie

In [4]:
# dependencies
import requests
import json
import pandas as pd
from pathlib import Path
import scipy.stats as stats

In [6]:
#import csv's
filtered_movies_csv = Path("Resources/filtered_movies_data.csv")

data_df = pd.read_csv(filtered_movies_csv,low_memory=False)

In [8]:
data_df

        IMDB ID                 Title    Budget      Revenue  Year
0     tt2018086  Camille Claudel 1915   3512454     115860.0  2013
1     tt0318081    A Sound of Thunder  80000000    5989640.0  2005
2     tt0366627            The Jacket  29000000   21126225.0  2005
3     tt0373926       The Interpreter  80000000  162944923.0  2005
4     tt0377109          The Ring Two  50000000  161451538.0  2005
...         ...                   ...       ...          ...   ...
2324  tt0453365              FC Venus   2196531    2411594.0  2005
2325  tt0479751                சிவாஜி  12000000   19000000.0  2007
2326  tt0933361                Dikari    800000    1328612.0  2006
2327  tt1718881            Про любоff   2000000    1268793.0  2010
2328  tt1110037              Антидурь   5000000    1413000.0  2007

[2329 rows x 5 columns]

In [10]:
# OMDB url and api prep for imdb id
omdb_url = "http://www.omdbapi.com/?apikey=" + omdb_key + "&i="
# omdb_key = "&apikey=" + omdb_key

In [12]:
# declare imdb id's for searching api - if we divide the request. or I might pay the $1 to simplify
# imdb01 = data_df.iloc[0:950,:]
# imdb02 = data_df.iloc[1000:1999,:]
# imdb03 = data_df.iloc[2000:-1,:]

imdb_ids = data_df["IMDB ID"]

In [34]:
# omdb_response = requests.get(omdb_url + "tt0366627")
# omdb_data = omdb_response.json()
# # print(json.dumps(omdb_data, indent=4, sort_keys=True))
# print(f'The title is {omdb_data["Title"]}.')
# print(f'The year is {omdb_data["Year"]}.')

The title is The Jacket.
The year is 2005.

In [36]:
# Init empty movie data list
movies_data = []

for id in imdb_ids:
    omdb_response = requests.get(omdb_url + id)
    omdb_data = omdb_response.json()
    
    if "imdbID" in omdb_data:
            movie_info = {
                "Title": omdb_data.get("Title"),
                "Year": omdb_data.get("Year"),
                "IMDB Rating": omdb_data.get("imdbRating"),
                "IMDB Votes": omdb_data.get("imdbVotes"),
                "Genre": omdb_data.get("Genre"),
                "Box Office": omdb_data.get("BoxOffice"),
                "IMDB ID": omdb_data.get("imdbID")
            }
            movies_data.append(movie_info)

KeyError: 'BoxOffice'

In [ ]:
# # Init empty movie data list
# movies_data = []

# for id in imdb_ids:
#     omdb_response = requests.get(omdb_url + id)
#     omdb_data = omdb_response.json()
    
#     if "imdbID" in omdb_data:
#             movie_info = {
#                 "Title": {omdb_data["Title"]},
#                 "Year": {omdb_data["Year"]},
#                 "IMDB Rating": {omdb_data["imdbRating"]},
#                 "IMDB Votes": {omdb_data["imdbVotes"]},
#                 "Genre": {omdb_data["Genre"]},
#                 "Box Office": {omdb_data["BoxOffice"]},
#                 "IMDB ID": {omdb_data["imdbID"]}
#             }
#             movies_data.append(movie_info)

In [38]:
movies_df = pd.DataFrame(movies_data)
movies_df

,Title,Year,IMDB Rating,IMDB Votes,Genre,Box Office,IMDB ID
0,{Camille Claudel 1915},{2013},{6.5},"{3,889}","{Biography, Drama}","{$35,296}",{tt2018086}
1,{A Sound of Thunder},{2005},{4.2},"{20,549}","{Action, Adventure, Horror}","{$1,900,451}",{tt0318081}
2,{The Jacket},{2005},{7.1},"{119,641}","{Drama, Fantasy, Mystery}","{$6,303,762}",{tt0366627}
3,{The Interpreter},{2005},{6.4},"{111,280}","{Crime, Mystery, Thriller}","{$72,708,161}",{tt0373926}
4,{The Ring Two},{2005},{5.4},"{101,457}","{Horror, Mystery}","{$76,231,249}",{tt0377109}
...,...,...,...,...,...,...,...
1057,{Fair Game},{2010},{6.8},"{51,184}","{Biography, Drama, Thriller}","{$9,540,691}",{tt0977855}
1058,{Unstoppable},{2010},{6.8},"{208,946}","{Action, Thriller}","{$81,562,942}",{tt0477080}
1059,{Morning Glory},{2010},{6.5},"{83,572}","{Comedy, Drama, Romance}","{$31,011,732}",{tt1126618}
1060,{The Next Three Days},{2010},{7.3},"{207,675}","{Action, Crime, Drama}","{$21,148,651}",{tt1458175}
1061,{Wild Target},{2010},{6.7},"{40,786}","{Action, Comedy, Crime}","{$108,589}",{tt1235189}

In [97]:
# Merge dataset
mo_movies_df = pd.merge(movies_df, data_df, on="IMDB ID", how="inner")
mo_movies_df

,Title_x,Year_x,IMDB Rating,IMDB Votes,Genre,Box Office,IMDB ID,Title_y,Budget,Revenue,Year_y
0,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,Camille Claudel 1915,3512454,115860.0,2013
1,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,Camille Claudel 1915,3512454,115860.0,2013
2,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,Camille Claudel 1915,3512454,115860.0,2013
3,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,Camille Claudel 1915,3512454,115860.0,2013
4,A Sound of Thunder,2005,4.2,"20,549","Action, Adventure, Horror","$1,900,451",tt0318081,A Sound of Thunder,80000000,5989640.0,2005
...,...,...,...,...,...,...,...,...,...,...,...
2327,FC Venus,2005,5.5,"2,325","Comedy, Romance, Sport",N/A,tt0453365,FC Venus,2196531,2411594.0,2005
2328,Sivaji,2007,7.5,"21,484","Action, Crime, Drama",N/A,tt0479751,சிவாஜி,12000000,19000000.0,2007
2329,Dikari,2006,6.5,693,Comedy,N/A,tt0933361,Dikari,800000,1328612.0,2006
2330,Pro lyuboff,2010,5.8,297,Drama,N/A,tt1718881,Про любоff,2000000,1268793.0,2010
2331,Antidur,2007,3.4,232,"Action, Comedy, Crime",N/A,tt1110037,Антидурь,5000000,1413000.0,2007

In [99]:
# clean up title
mo_movies_df = mo_movies_df.rename(columns={"Title_x": "Title"})
mo_movies_df = mo_movies_df.drop(columns=["Title_y"])

In [42]:
mo_movies_df

,Title,Year_x,IMDB Rating,IMDB Votes,Genre,Box Office,IMDB ID,Budget,Revenue,Year_y
0,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,3512454,115860.0,2013
1,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,3512454,115860.0,2013
2,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,3512454,115860.0,2013
3,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,3512454,115860.0,2013
4,A Sound of Thunder,2005,4.2,"20,549","Action, Adventure, Horror","$1,900,451",tt0318081,80000000,5989640.0,2005
...,...,...,...,...,...,...,...,...,...,...
2327,FC Venus,2005,5.5,"2,325","Comedy, Romance, Sport",N/A,tt0453365,2196531,2411594.0,2005
2328,Sivaji,2007,7.5,"21,484","Action, Crime, Drama",N/A,tt0479751,12000000,19000000.0,2007
2329,Dikari,2006,6.5,693,Comedy,N/A,tt0933361,800000,1328612.0,2006
2330,Pro lyuboff,2010,5.8,297,Drama,N/A,tt1718881,2000000,1268793.0,2010
2331,Antidur,2007,3.4,232,"Action, Comedy, Crime",N/A,tt1110037,5000000,1413000.0,2007

In [101]:
# clean up year
mo_movies_df = mo_movies_df.rename(columns={"Year_x": "Year"})
mo_movies_df = mo_movies_df.drop(columns=["Year_y"])

In [103]:
mo_movies_df

,Title,Year,IMDB Rating,IMDB Votes,Genre,Box Office,IMDB ID,Budget,Revenue
0,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,3512454,115860.0
1,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,3512454,115860.0
2,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,3512454,115860.0
3,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,3512454,115860.0
4,A Sound of Thunder,2005,4.2,"20,549","Action, Adventure, Horror","$1,900,451",tt0318081,80000000,5989640.0
...,...,...,...,...,...,...,...,...,...
2327,FC Venus,2005,5.5,"2,325","Comedy, Romance, Sport",N/A,tt0453365,2196531,2411594.0
2328,Sivaji,2007,7.5,"21,484","Action, Crime, Drama",N/A,tt0479751,12000000,19000000.0
2329,Dikari,2006,6.5,693,Comedy,N/A,tt0933361,800000,1328612.0
2330,Pro lyuboff,2010,5.8,297,Drama,N/A,tt1718881,2000000,1268793.0
2331,Antidur,2007,3.4,232,"Action, Comedy, Crime",N/A,tt1110037,5000000,1413000.0

In [105]:
mo_movies_df.dtypes

Title           object
Year            object
IMDB Rating     object
IMDB Votes      object
Genre           object
Box Office      object
IMDB ID         object
Budget           int64
Revenue        float64
dtype: object

In [109]:
# convert budget to float
mo_movies_df["Budget"] = mo_movies_df["Budget"].astype(float)
mo_movies_df.dtypes

Title           object
Year            object
IMDB Rating     object
IMDB Votes      object
Genre           object
Box Office      object
IMDB ID         object
Budget         float64
Revenue        float64
dtype: object

In [111]:
# format boxoffice, budget and revenue
# https://www.geeksforgeeks.org/python-pandas-dataframe-astype/
# mo_movies_df["Box Office"] = mo_movies_df["Box Office"].map("${:,.2f}".format)
# mo_movies_df["Budget"] = mo_movies_df["Budget"].map("${:,.2f}".format)
# mo_movies_df["Revenue"] = mo_movies_df["Revenue"].map("${:,.2f}".format)

In [117]:
mo_movies_df.to_csv("Resources/mo_movies_data.csv", index=False)

In [119]:
mo_movies_df.to_parquet("Resources/mo_movies_data.parquet", index=False)