### Project1_MoMovies - Mo Money Movies

##### How to Make The Most Money with One Movie

In [1]:
# dependencies
import requests
import json
from omdb_key import omdb_key
from tmdb_key import tmdb_key
import pandas as pd
from pathlib import Path

In [2]:
# OMDB url and api prep
omdb_url = "http://www.omdbapi.com/?apikey=" + omdb_key + "&t="
# omdb_key = "&apikey=" + omdb_key

# TMDB API url and key
tmdb_url = "https://api.themoviedb.org/3/search/movie?api_key=" + tmdb_key + "&query="

In [3]:
#Create a list of movies - top 45 movies

movie_titles = [
    "The Dark Knight", "Inception", "Interstellar", "The Departed", "Whiplash", "The Prestige", "The Intouchables",
     "Django Unchained", "WALL-E",  "The Lives of Others", "Inglourious Basterds", "The Dark Knight Rises", "3 Idiots",
     "Toy Story 3", "The Hunt", "Incendies", "Up", "A Separation", "Like Stars on Earth", "Batman Begins", "The Wolf of Wall Street",
     "Shutter Island", "There Will Be Blood", "Pan's Labyrinth", "No Country for Old Men", "Prisoners", "V for Vendetta",
     "The Secret in Their Eyes", "Inside Out", "Warrior", "Gran Torino", "Harry Potter and the Deathly Hallows: Part 2",
     "12 Years a Slave", "Mad Max: Fury Road", "The Grand Budapest Hotel", "Gone GirlGone Girl", "Wild Tales",
     "How to Train Your DragonHow to Train Your Dragon", "Ratatouille", "Mary and Max", "Room", "Spotlight", "Rush", "Hachi: A Dog's Tale",
     "My Father and My Son", "Into the Wild", "The Help"
]

In [4]:
# Init empty movie data list
movies_data = []

for movie in movie_titles:
    omdb_response = requests.get(omdb_url + movie)
    omdb_data = omdb_response.json()
    
    if "Title" in omdb_data:
            movie_info = {
                "Title": omdb_data.get("Title"),
                "Year": omdb_data.get("Year"),
                "IMDB Rating": omdb_data.get("imdbRating"),
                "IMDB Votes": omdb_data.get("imdbVotes"),
                "Genre": omdb_data.get("Genre"),
                "Box Office": omdb_data.get("BoxOffice"),
                "IMDB ID": omdb_data.get("imdbID")
            }
            movies_data.append(movie_info)

In [5]:
movies_df = pd.DataFrame(movies_data)
movies_df.head(45)

,Title,Year,IMDB Rating,IMDB Votes,Genre,Box Office,IMDB ID
0,The Dark Knight,2008,9.0,"2,896,249","Action, Crime, Drama","$534,987,076",tt0468569
1,Inception,2010,8.8,"2,572,598","Action, Adventure, Sci-Fi","$292,587,330",tt1375666
2,Interstellar,2014,8.7,"2,126,853","Adventure, Drama, Sci-Fi","$188,020,017",tt0816692
3,The Departed,2006,8.5,"1,433,399","Crime, Drama, Thriller","$132,399,394",tt0407887
4,Whiplash,2014,8.5,"1,002,639","Drama, Music","$13,092,000",tt2582802
5,The Prestige,2006,8.5,"1,451,983","Drama, Mystery, Sci-Fi","$53,089,891",tt0482571
6,The Intouchables,2011,8.5,"935,390","Comedy, Drama","$10,198,820",tt1675434
7,Django Unchained,2012,8.5,"1,711,592","Comedy, Drama, Western","$162,805,434",tt1853728
8,WALL·E,2008,8.4,"1,210,308","Animation, Adventure, Family","$223,808,164",tt0910970
9,The Lives of Others,2006,8.4,"412,480","Drama, Mystery, Thriller","$11,286,112",tt0405094
10,Inglourious Basterds,2009,8.4,"1,600,312","Adventure, Drama, War","$120,540,719",tt0361748
11,The Dark Knight Rises,2012,8.4,"1,837,469","Action, Drama, Thriller","$448,149,584",tt1345836
12,3 Idiots,2009,8.4,"438,761","Comedy, Drama","$6,532,874",tt1187043
13,Toy Story 3,2010,8.3,"898,166","Animation, Adventure, Comedy","$415,004,880",tt0435761
14,The Hunt,2012,8.3,"367,181",Drama,"$613,308",tt2106476
15,Incendies,2010,8.3,"205,227","Drama, Mystery, War","$2,071,334",tt1255953
16,Up,2009,8.3,"1,131,534","Animation, Adventure, Comedy","$293,004,164",tt1049413
17,A Separation,2011,8.3,"259,785",Drama,"$7,099,055",tt1832382
18,Like Stars on Earth,2007,8.3,"207,890","Drama, Family","$1,223,869",tt0986264
19,Batman Begins,2005,8.2,"1,589,713","Action, Crime, Drama","$206,863,479",tt0372784
20,The Wolf of Wall Street,2013,8.2,"1,601,162","Biography, Comedy, Crime","$116,900,694",tt0993846
21,Shutter Island,2010,8.2,"1,467,262","Drama, Mystery, Thriller","$128,012,934",tt1130884
22,There Will Be Blood,2007,8.2,"644,594",Drama,"$40,222,514",tt0469494
23,Pan's Labyrinth,2006,8.2,"705,755","Drama, Fantasy, War","$37,646,380",tt0457430
24,No Country for Old Men,2007,8.2,"1,068,450","Crime, Drama, Thriller","$74,283,625",tt0477348
25,Prisoners,2013,8.2,"815,585","Crime, Drama, Mystery","$61,002,302",tt1392214
26,V for Vendetta,2005,8.2,"1,183,453","Action, Drama, Sci-Fi","$70,511,035",tt0434409
27,The Secret in Their Eyes,2009,8.2,"223,548","Drama, Mystery, Romance","$6,391,436",tt1305806
28,Inside Out,2015,8.1,"808,999","Animation, Adventure, Comedy","$356,921,711",tt2096673
29,Warrior,2011,8.1,"500,126","Action, Drama, Sport","$13,657,115",tt1291584
30,Gran Torino,2008,8.1,"818,036",Drama,"$148,095,302",tt1205489
31,Harry Potter and the Deathly Hallows: Part 2,2011,8.1,"953,417","Adventure, Family, Fantasy","$381,447,587",tt1201607
32,12 Years a Slave,2013,8.1,"743,990","Biography, Drama, History","$56,671,993",tt2024544
33,Mad Max: Fury Road,2015,8.1,"1,108,995","Action, Adventure, Sci-Fi","$154,280,290",tt1392190
34,The Grand Budapest Hotel,2014,8.1,"892,764","Adventure, Comedy, Crime","$59,301,324",tt2278388
35,Wild Tales,2014,8.1,"218,296","Comedy, Drama, Thriller","$3,106,530",tt3011894
36,Ratatouille,2007,8.1,"834,765","Animation, Adventure, Comedy","$206,445,654",tt0382932
37,Mary and Max,2009,8.1,"187,527","Animation, Comedy, Drama",N/A,tt0978762
38,Room,2015,8.1,"453,675","Drama, Thriller","$14,677,654",tt3170832
39,Spotlight,2015,8.1,"504,128","Biography, Crime, Drama","$45,055,776",tt1895587
40,Rush,2013,8.1,"516,847","Action, Biography, Drama","$26,947,624",tt1979320
41,Hachi: A Dog's Tale,2009,8.1,"314,219","Biography, Drama, Family",N/A,tt1028532
42,My Father and My Son,2005,8.2,"93,018","Drama, Family",N/A,tt0476735
43,Into the Wild,2007,8.1,"660,446","Adventure, Biography, Drama","$18,354,356",tt0758758
44,The Help,2011,8.1,"496,416",Drama,"$169,708,112",tt1454029

In [6]:
# omdb_data

In [8]:
movies_df.to_csv("omdb_data.csv", index=False)

In [9]:
print(movies_df.columns)

Index(['Title', 'Year', 'IMDB Rating', 'IMDB Votes', 'Genre', 'Box Office',
       'IMDB ID'],
      dtype='object')

In [10]:
imdb_ids = movies_df["IMDB ID"][1:]
imdb_ids

1     tt1375666
2     tt0816692
3     tt0407887
4     tt2582802
5     tt0482571
6     tt1675434
7     tt1853728
8     tt0910970
9     tt0405094
10    tt0361748
11    tt1345836
12    tt1187043
13    tt0435761
14    tt2106476
15    tt1255953
16    tt1049413
17    tt1832382
18    tt0986264
19    tt0372784
20    tt0993846
21    tt1130884
22    tt0469494
23    tt0457430
24    tt0477348
25    tt1392214
26    tt0434409
27    tt1305806
28    tt2096673
29    tt1291584
30    tt1205489
31    tt1201607
32    tt2024544
33    tt1392190
34    tt2278388
35    tt3011894
36    tt0382932
37    tt0978762
38    tt3170832
39    tt1895587
40    tt1979320
41    tt1028532
42    tt0476735
43    tt0758758
44    tt1454029
Name: IMDB ID, dtype: object

In [11]:
#import csv's
omdb_data_csv = Path("omdb_data.csv")
tmdb_data_csv = Path("movies_metadata.csv")

omdb_df = pd.read_csv(omdb_data_csv)
tmdb_df = pd.read_csv(tmdb_data_csv,low_memory=False)

In [12]:
print(tmdb_df.head())

   adult                              belongs_to_collection    budget  \
0  FALSE  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  FALSE                                                NaN  65000000
2  FALSE  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  FALSE                                                NaN  16000000
4  FALSE  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ... release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...   10/30/1995
1  When siblings Judy and Peter discover an encha...  ...   12/15/1995
2  A family wedding reignites the ancient feud be...  ...   12/22/1995
3  Cheated on, mistreated and stepped on, the wom...  ...   12/22/1995
4  Just when George Banks has recovered from his ...  ...    2/10/1995

       revenue runtime                                   spoken_languages  \
0  373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...

                         title  video vote_average vote_count
0                    Toy Story  False          7.7     5415.0
1                      Jumanji  False          6.9     2413.0
2             Grumpier Old Men  False          6.5       92.0
3            Waiting to Exhale  False          6.1       34.0
4  Father of the Bride Part II  False          5.7      173.0

[5 rows x 24 columns]

In [13]:
# check columns
print(tmdb_df.columns)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [14]:
#drop unneeded columns
tmdb_df = tmdb_df[["imdb_id", "original_title", "budget", "revenue"]]
print(tmdb_df)

         imdb_id               original_title    budget      revenue
0      tt0114709                    Toy Story  30000000  373554033.0
1      tt0113497                      Jumanji  65000000  262797249.0
2      tt0113228             Grumpier Old Men         0          0.0
3      tt0114885            Waiting to Exhale  16000000   81452156.0
4      tt0113041  Father of the Bride Part II         0   76578911.0
...          ...                          ...       ...          ...
45461  tt6209470                      رگ خواب         0          0.0
45462  tt2028550          Siglo ng Pagluluwal         0          0.0
45463  tt0303758                     Betrayal         0          0.0
45464  tt0008536          Satana likuyushchiy         0          0.0
45465  tt6980792                     Queerama         0          0.0

[45466 rows x 4 columns]

In [15]:
#rename columns
tmdb_df = tmdb_df.rename(columns={"imdb_id": "IMDB ID", "original_title": "Title", "budget": "Budget", "revenue": "Revenue"})
tmdb_df

         IMDB ID                        Title    Budget      Revenue
0      tt0114709                    Toy Story  30000000  373554033.0
1      tt0113497                      Jumanji  65000000  262797249.0
2      tt0113228             Grumpier Old Men         0          0.0
3      tt0114885            Waiting to Exhale  16000000   81452156.0
4      tt0113041  Father of the Bride Part II         0   76578911.0
...          ...                          ...       ...          ...
45461  tt6209470                      رگ خواب         0          0.0
45462  tt2028550          Siglo ng Pagluluwal         0          0.0
45463  tt0303758                     Betrayal         0          0.0
45464  tt0008536          Satana likuyushchiy         0          0.0
45465  tt6980792                     Queerama         0          0.0

[45466 rows x 4 columns]

In [16]:
mo_movies_df = pd.merge(tmdb_df, omdb_df, on="IMDB ID", how="inner")

mo_movies_df

,IMDB ID,Title_x,Budget,Revenue,Title_y,Year,IMDB Rating,IMDB Votes,Genre,Box Office
0,tt0372784,Batman Begins,150000000,3.742187e+08,Batman Begins,2005,8.2,"1,589,713","Action, Crime, Drama","$206,863,479"
1,tt0434409,V for Vendetta,54000000,1.325110e+08,V for Vendetta,2005,8.2,"1,183,453","Action, Drama, Sci-Fi","$70,511,035"
2,tt0405094,Das Leben der Anderen,2000000,7.000000e+07,The Lives of Others,2006,8.4,"412,480","Drama, Mystery, Thriller","$11,286,112"
3,tt0457430,El laberinto del fauno,19000000,8.325823e+07,Pan's Labyrinth,2006,8.2,"705,755","Drama, Fantasy, War","$37,646,380"
4,tt0407887,The Departed,90000000,2.898474e+08,The Departed,2006,8.5,"1,433,399","Crime, Drama, Thriller","$132,399,394"
5,tt0482571,The Prestige,40000000,1.096763e+08,The Prestige,2006,8.5,"1,451,983","Drama, Mystery, Sci-Fi","$53,089,891"
6,tt0382932,Ratatouille,150000000,6.237228e+08,Ratatouille,2007,8.1,"834,765","Animation, Adventure, Comedy","$206,445,654"
7,tt0476735,Babam ve oğlum,0,0.000000e+00,My Father and My Son,2005,8.2,"93,018","Drama, Family",NaN
8,tt0758758,Into the Wild,15000000,5.625514e+07,Into the Wild,2007,8.1,"660,446","Adventure, Biography, Drama","$18,354,356"
9,tt0477348,No Country for Old Men,25000000,1.716000e+08,No Country for Old Men,2007,8.2,"1,068,450","Crime, Drama, Thriller","$74,283,625"
10,tt0469494,There Will Be Blood,25000000,7.720871e+07,There Will Be Blood,2007,8.2,"644,594",Drama,"$40,222,514"
11,tt0986264,Taare Zameen Par,2600000,2.843000e+07,Like Stars on Earth,2007,8.3,"207,890","Drama, Family","$1,223,869"
12,tt0468569,The Dark Knight,185000000,1.004558e+09,The Dark Knight,2008,9.0,"2,896,249","Action, Crime, Drama","$534,987,076"
13,tt0910970,WALL·E,180000000,5.213119e+08,WALL·E,2008,8.4,"1,210,308","Animation, Adventure, Family","$223,808,164"
14,tt1205489,Gran Torino,33000000,2.699582e+08,Gran Torino,2008,8.1,"818,036",Drama,"$148,095,302"
15,tt0361748,Inglourious Basterds,70000000,3.191310e+08,Inglourious Basterds,2009,8.4,"1,600,312","Adventure, Drama, War","$120,540,719"
16,tt1049413,Up,175000000,7.350991e+08,Up,2009,8.3,"1,131,534","Animation, Adventure, Comedy","$293,004,164"
17,tt1305806,El secreto de sus ojos,2000000,3.396584e+07,The Secret in Their Eyes,2009,8.2,"223,548","Drama, Mystery, Romance","$6,391,436"
18,tt0978762,Mary and Max,590235,1.725381e+06,Mary and Max,2009,8.1,"187,527","Animation, Comedy, Drama",NaN
19,tt1028532,Hachi: A Dog's Tale,16000000,4.780139e+07,Hachi: A Dog's Tale,2009,8.1,"314,219","Biography, Drama, Family",NaN
20,tt1187043,3 Idiots,9000000,7.000000e+07,3 Idiots,2009,8.4,"438,761","Comedy, Drama","$6,532,874"
21,tt1130884,Shutter Island,80000000,2.948042e+08,Shutter Island,2010,8.2,"1,467,262","Drama, Mystery, Thriller","$128,012,934"
22,tt0435761,Toy Story 3,200000000,1.066970e+09,Toy Story 3,2010,8.3,"898,166","Animation, Adventure, Comedy","$415,004,880"
23,tt1375666,Inception,160000000,8.255328e+08,Inception,2010,8.8,"2,572,598","Action, Adventure, Sci-Fi","$292,587,330"
24,tt1255953,Incendies,6800000,7.103838e+06,Incendies,2010,8.3,"205,227","Drama, Mystery, War","$2,071,334"
25,tt1201607,Harry Potter and the Deathly Hallows: Part 2,125000000,1.342000e+09,Harry Potter and the Deathly Hallows: Part 2,2011,8.1,"953,417","Adventure, Family, Fantasy","$381,447,587"
26,tt1454029,The Help,25000000,1.242721e+08,The Help,2011,8.1,"496,416",Drama,"$169,708,112"
27,tt1832382,جدایی نادر از سیمین,800000,0.000000e+00,A Separation,2011,8.3,"259,785",Drama,"$7,099,055"
28,tt1291584,Warrior,25000000,2.305712e+07,Warrior,2011,8.1,"500,126","Action, Drama, Sport","$13,657,115"
29,tt1345836,The Dark Knight Rises,250000000,1.084939e+09,The Dark Knight Rises,2012,8.4,"1,837,469","Action, Drama, Thriller","$448,149,584"
30,tt1675434,Intouchables,13000000,4.264809e+08,The Intouchables,2011,8.5,"935,390","Comedy, Drama","$10,198,820"
31,tt2106476,Jagten,3800000,1.680000e+07,The Hunt,2012,8.3,"367,181",Drama,"$613,308"
32,tt1853728,Django Unchained,100000000,4.253682e+08,Django Unchained,2012,8.5,"1,711,592","Comedy, Drama, Western","$162,805,434"
33,tt1392214,Prisoners,46000000,1.221267e+08,Prisoners,2013,8.2,"815,585","Crime, Drama, Mystery","$61,002,302"
34,tt1979320,Rush,38000000,9.024762e+07,Rush,2013,8.1,"516,847","Action, Biography, Drama","$26,947,624"
35,tt2024544,12 Years a Slave,20000000,1.870000e+08,12 Years a Slave,2013,8.1,"743,990","Biography, Drama, History","$56,671,993"
36,tt0993846,The Wolf of Wall Street,100000000,3.920007e+08,The Wolf of Wall Street,2013,8.2,"1,601,162","Biography, Comedy, Crime","$116,900,694"
37,tt2278388,The Grand Budapest Hotel,30000000,1.746003e+08,The Grand Budapest Hotel,2014,8.1,"892,764","Adventure, Comedy, Crime","$59,301,324"
38,tt0816692,Interstellar,165000000,6.751200e+08,Interstellar,2014,8.7,"2,126,853","Adventure, Drama, Sci-Fi","$188,020,017"
39,tt2582802,Whiplash,3300000,1.309200e+07,Whiplash,2014,8.5,"1,002,639","Drama, Music","$13,092,000"
40,tt3011894,Relatos salvajes,0,2.700707e+07,Wild Tales,2014,8.1,"218,296","Comedy, Drama, Thriller","$3,106,530"
41,tt1392190,Mad Max: Fury Road,150000000,3.788583e+08,Mad Max: Fury Road,2015,8.1,"1,108,995","Action, Adventure, Sci-Fi","$154,280,290"
42,tt2096673,Inside Out,175000000,8.576112e+08,Inside Out,2015,8.1,"808,999","Animation, Adventure, Comedy","$356,921,711"
43,tt3170832,Room,6000000,3.540176e+07,Room,2015,8.1,"453,675","Drama, Thriller","$14,677,654"
44,tt1895587,Spotlight,20000000,8.834647e+07,Spotlight,2015,8.1,"504,128","Biography, Crime, Drama","$45,055,776"

In [17]:
#clean column names for title
mo_movies_df = mo_movies_df.rename(columns={"Title_y": "Title"})
mo_movies_df = mo_movies_df.drop(columns=["Title_x"])

In [18]:
mo_movies_df.dtypes

IMDB ID         object
Budget          object
Revenue        float64
Title           object
Year             int64
IMDB Rating    float64
IMDB Votes      object
Genre           object
Box Office      object
dtype: object

In [19]:
#convert and format
mo_movies_df["Revenue"] = mo_movies_df["Revenue"].astype("int64")
mo_movies_df["Revenue"] = mo_movies_df["Revenue"].map("${:,.2f}".format)
mo_movies_df

,IMDB ID,Budget,Revenue,Title,Year,IMDB Rating,IMDB Votes,Genre,Box Office
0,tt0372784,150000000,"$374,218,673.00",Batman Begins,2005,8.2,"1,589,713","Action, Crime, Drama","$206,863,479"
1,tt0434409,54000000,"$132,511,035.00",V for Vendetta,2005,8.2,"1,183,453","Action, Drama, Sci-Fi","$70,511,035"
2,tt0405094,2000000,"$70,000,000.00",The Lives of Others,2006,8.4,"412,480","Drama, Mystery, Thriller","$11,286,112"
3,tt0457430,19000000,"$83,258,226.00",Pan's Labyrinth,2006,8.2,"705,755","Drama, Fantasy, War","$37,646,380"
4,tt0407887,90000000,"$289,847,354.00",The Departed,2006,8.5,"1,433,399","Crime, Drama, Thriller","$132,399,394"
5,tt0482571,40000000,"$109,676,311.00",The Prestige,2006,8.5,"1,451,983","Drama, Mystery, Sci-Fi","$53,089,891"
6,tt0382932,150000000,"$623,722,818.00",Ratatouille,2007,8.1,"834,765","Animation, Adventure, Comedy","$206,445,654"
7,tt0476735,0,$0.00,My Father and My Son,2005,8.2,"93,018","Drama, Family",NaN
8,tt0758758,15000000,"$56,255,142.00",Into the Wild,2007,8.1,"660,446","Adventure, Biography, Drama","$18,354,356"
9,tt0477348,25000000,"$171,600,000.00",No Country for Old Men,2007,8.2,"1,068,450","Crime, Drama, Thriller","$74,283,625"
10,tt0469494,25000000,"$77,208,711.00",There Will Be Blood,2007,8.2,"644,594",Drama,"$40,222,514"
11,tt0986264,2600000,"$28,430,000.00",Like Stars on Earth,2007,8.3,"207,890","Drama, Family","$1,223,869"
12,tt0468569,185000000,"$1,004,558,444.00",The Dark Knight,2008,9.0,"2,896,249","Action, Crime, Drama","$534,987,076"
13,tt0910970,180000000,"$521,311,860.00",WALL·E,2008,8.4,"1,210,308","Animation, Adventure, Family","$223,808,164"
14,tt1205489,33000000,"$269,958,228.00",Gran Torino,2008,8.1,"818,036",Drama,"$148,095,302"
15,tt0361748,70000000,"$319,131,050.00",Inglourious Basterds,2009,8.4,"1,600,312","Adventure, Drama, War","$120,540,719"
16,tt1049413,175000000,"$735,099,082.00",Up,2009,8.3,"1,131,534","Animation, Adventure, Comedy","$293,004,164"
17,tt1305806,2000000,"$33,965,843.00",The Secret in Their Eyes,2009,8.2,"223,548","Drama, Mystery, Romance","$6,391,436"
18,tt0978762,590235,"$1,725,381.00",Mary and Max,2009,8.1,"187,527","Animation, Comedy, Drama",NaN
19,tt1028532,16000000,"$47,801,389.00",Hachi: A Dog's Tale,2009,8.1,"314,219","Biography, Drama, Family",NaN
20,tt1187043,9000000,"$70,000,000.00",3 Idiots,2009,8.4,"438,761","Comedy, Drama","$6,532,874"
21,tt1130884,80000000,"$294,804,195.00",Shutter Island,2010,8.2,"1,467,262","Drama, Mystery, Thriller","$128,012,934"
22,tt0435761,200000000,"$1,066,969,703.00",Toy Story 3,2010,8.3,"898,166","Animation, Adventure, Comedy","$415,004,880"
23,tt1375666,160000000,"$825,532,764.00",Inception,2010,8.8,"2,572,598","Action, Adventure, Sci-Fi","$292,587,330"
24,tt1255953,6800000,"$7,103,838.00",Incendies,2010,8.3,"205,227","Drama, Mystery, War","$2,071,334"
25,tt1201607,125000000,"$1,342,000,000.00",Harry Potter and the Deathly Hallows: Part 2,2011,8.1,"953,417","Adventure, Family, Fantasy","$381,447,587"
26,tt1454029,25000000,"$124,272,124.00",The Help,2011,8.1,"496,416",Drama,"$169,708,112"
27,tt1832382,800000,$0.00,A Separation,2011,8.3,"259,785",Drama,"$7,099,055"
28,tt1291584,25000000,"$23,057,115.00",Warrior,2011,8.1,"500,126","Action, Drama, Sport","$13,657,115"
29,tt1345836,250000000,"$1,084,939,099.00",The Dark Knight Rises,2012,8.4,"1,837,469","Action, Drama, Thriller","$448,149,584"
30,tt1675434,13000000,"$426,480,871.00",The Intouchables,2011,8.5,"935,390","Comedy, Drama","$10,198,820"
31,tt2106476,3800000,"$16,800,000.00",The Hunt,2012,8.3,"367,181",Drama,"$613,308"
32,tt1853728,100000000,"$425,368,238.00",Django Unchained,2012,8.5,"1,711,592","Comedy, Drama, Western","$162,805,434"
33,tt1392214,46000000,"$122,126,687.00",Prisoners,2013,8.2,"815,585","Crime, Drama, Mystery","$61,002,302"
34,tt1979320,38000000,"$90,247,624.00",Rush,2013,8.1,"516,847","Action, Biography, Drama","$26,947,624"
35,tt2024544,20000000,"$187,000,000.00",12 Years a Slave,2013,8.1,"743,990","Biography, Drama, History","$56,671,993"
36,tt0993846,100000000,"$392,000,694.00",The Wolf of Wall Street,2013,8.2,"1,601,162","Biography, Comedy, Crime","$116,900,694"
37,tt2278388,30000000,"$174,600,318.00",The Grand Budapest Hotel,2014,8.1,"892,764","Adventure, Comedy, Crime","$59,301,324"
38,tt0816692,165000000,"$675,120,017.00",Interstellar,2014,8.7,"2,126,853","Adventure, Drama, Sci-Fi","$188,020,017"
39,tt2582802,3300000,"$13,092,000.00",Whiplash,2014,8.5,"1,002,639","Drama, Music","$13,092,000"
40,tt3011894,0,"$27,007,072.00",Wild Tales,2014,8.1,"218,296","Comedy, Drama, Thriller","$3,106,530"
41,tt1392190,150000000,"$378,858,340.00",Mad Max: Fury Road,2015,8.1,"1,108,995","Action, Adventure, Sci-Fi","$154,280,290"
42,tt2096673,175000000,"$857,611,174.00",Inside Out,2015,8.1,"808,999","Animation, Adventure, Comedy","$356,921,711"
43,tt3170832,6000000,"$35,401,758.00",Room,2015,8.1,"453,675","Drama, Thriller","$14,677,654"
44,tt1895587,20000000,"$88,346,473.00",Spotlight,2015,8.1,"504,128","Biography, Crime, Drama","$45,055,776"

In [20]:
mo_movies_df.to_parquet("mo_movies_df.parquet", index=False)

In [22]:
mo_movies_df.to_csv("mo_movies_df.csv", index=False)

### Workbench Code Below

#convert and format
mo_movies_df["Revenue"] = mo_movies_df["Revenue"].astype("int64")
mo_movies_df["Revenue"] = mo_movies_df["Revenue"].map("${:,.2f}".format)
mo_movies_df["Box Office"] = mo_movies_df["Box Office"].astype("int64")
mo_movies_df["IMDB Rating"] = mo_movies_df["IMDB Rating"].astype("int64")
mo_movies_df

# tmdb 
# Init empty movie data list
tmdb_data = []

for id in imdb_id:
    tmdb_response = requests.get(tmdb_url + imdb_id)
    tmdb_data = tmdb_response.json()
    
    if i in tmdb_data:
        tmdb_info = {
            "Title": result.get("title"),
            "Budget": result.get("budget"),
            "Revenue": result.get("revenue")
        }
        tmdb_movies_data.append(tmdb_info)

tmdb_data

# tmdb 
# Init empty movie data list
tmdb_data = []

for movie in movie_titles:
    tmdb_response = requests.get(tmdb_url + movie)
    tmdb_data = tmdb_response.json()
    
    if "original_title" in tmdb_data:
        tmdb_info = {
            "Title": result.get("title"),
            "Budget": result.get("budget"),
            "Revenue": result.get("revenue")
        }
        tmdb_movies_data.append(tmdb_info)

tmdb_data

revenue_df = pd.DataFrame(tmdb_data)
revenue_df

tmdb_response = requests.get("https://api.themoviedb.org/3/discover/movie?api_key=" +  tmdb_key + "&primary_release_year=2005&sort_by=revenue.desc")

movies_revenue = tmdb_response.json()

revenue_df = pd.DataFrame(movies_revenue)

revenue_df