### Project1_MoMovies - Mo Money Movies

##### How to Make The Most Money with One Movie

What genre and budget to make the most profit - Can we get budget info? still need to find a data set for it

Movies 2005-2015

Data to look for:
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;profit vs ratings
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;profit vs genre
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;genre vs ratings

Notes
After spending all that time....I think we need to search for year in range 2005-2015. then have that get the key/values for our list. Then sort by descending, then filter by top 50.

In [4]:
# dependencies
import requests
import json
from omdb_key import omdb_key
from tmdb_key import tmdb_key
from pprint import pprint
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
# OMDB url and api prep
url = "http://www.omdbapi.com/?t="
omdb_key = "&apikey=" + omdb_key

# TMDB API url and key
tmdb_url = "https://api.themoviedb.org/3/discover/movie"
tmdb_key = tmdb_key

In [5]:
#Create a list of movies - do we have to do it manually like this? can we use X for title to for loop through everthing in our year range?
# Another API to find "best" movies in our date range? We shouldn't have to manually find titles. If we can find another api,
# then we could use that to create our list below

movie_titles = [
    "There Will Be Blood", "The Dark Knight", "Pan's Labyrinth", "Caché", "Zodiac",
    "V for Vendetta", "Whiplash"
]
# this is just a random list from google in our date range

In [15]:
# Init empty movie data list
movies_data = []

for title in movie_titles:
    response = requests.get(url + title + omdb_key)
    data = response.json()
    if int(data['Year']) in data and int(data['Year']) >= 2005 and int(data['Year']) <= 2015:
        movies_data.append({
            'Title': data['Title'],
            'Year': int(data['Year']),
            'Ratings': data['Ratings'],
            'BoxOffice': data['BoxOffice']
        })

In [17]:
# Converting the response to JSON, print the data for review
movies_data = response.json()

movies_df = pd.DataFrame(movies_data)

# movies_df.head()


pprint(movies_data)

{'Actors': 'Miles Teller, J.K. Simmons, Melissa Benoist',
 'Awards': 'Won 3 Oscars. 98 wins & 144 nominations total',
 'BoxOffice': '$13,092,000',
 'Country': 'United States',
 'DVD': 'N/A',
 'Director': 'Damien Chazelle',
 'Genre': 'Drama, Music',
 'Language': 'English',
 'Metascore': '89',
 'Plot': 'A promising young drummer enrolls at a cut-throat music conservatory '
         'where his dreams of greatness are mentored by an instructor who will '
         "stop at nothing to realize a student's potential.",
 'Poster': 'https://m.media-amazon.com/images/M/MV5BOTA5NDZlZGUtMjAxOS00YTRkLTkwYmMtYWQ0NWEwZDZiNjEzXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg',
 'Production': 'N/A',
 'Rated': 'R',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.5/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '94%'},
             {'Source': 'Metacritic', 'Value': '89/100'}],
 'Released': '15 Oct 2014',
 'Response': 'True',
 'Runtime': '106 min',
 'Title': 'Whiplash',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Damien Chazelle',
 'Year': '2014',
 'imdbID': 'tt2582802',
 'imdbRating': '8.5',
 'imdbVotes': '1,002,639'}

In [27]:
movies_df

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,Whiplash,2014,R,15 Oct 2014,106 min,"Drama, Music",Damien Chazelle,Damien Chazelle,"Miles Teller, J.K. Simmons, Melissa Benoist",A promising young drummer enrolls at a cut-thr...,...,89,8.5,"1,002,639",tt2582802,movie,N/A,"$13,092,000",N/A,N/A,True
1,Whiplash,2014,R,15 Oct 2014,106 min,"Drama, Music",Damien Chazelle,Damien Chazelle,"Miles Teller, J.K. Simmons, Melissa Benoist",A promising young drummer enrolls at a cut-thr...,...,89,8.5,"1,002,639",tt2582802,movie,N/A,"$13,092,000",N/A,N/A,True
2,Whiplash,2014,R,15 Oct 2014,106 min,"Drama, Music",Damien Chazelle,Damien Chazelle,"Miles Teller, J.K. Simmons, Melissa Benoist",A promising young drummer enrolls at a cut-thr...,...,89,8.5,"1,002,639",tt2582802,movie,N/A,"$13,092,000",N/A,N/A,True

In [29]:
# drop all columns except for necessary. 'Title', 'Year', 'Genre', 'Metascore'?, 'imdbRaing'?, 'BoxOffice'

In [8]:
# Print ratings and boxoffice for quick checks. Which specific rating do we want to choose? Metacritic? Rotten Tomatoes? I think metacritic
# is only critics and tomatoes in mix of critics and viewsers?

# print(f"The movie's ratings are {data['Ratings']}.")
# print(f"The movie made {data['BoxOffice']} at the box office.")

In [19]:
# we need to convert boxoffice to integer and imdBrating(or whichever) as a float- everything is currently a string

In [33]:
# once we have a ton of titles to sort through or find a way to search for title or has an 'X' variable, this will give us the top 50
# to sort by ratings Or groupby? 'BoxOffice' and 'imdbRating'?

movies_df.sort_values(by=movies_df["imdbRating"], ascending=False)

top_50 = movies_df.head(50)
pprint(top_50)

KeyError: 0    8.5
1    8.5
2    8.5
Name: imdbRating, dtype: object

In [31]:
movies_df.dtypes

Title         object
Year          object
Rated         object
Released      object
Runtime       object
Genre         object
Director      object
Writer        object
Actors        object
Plot          object
Language      object
Country       object
Awards        object
Poster        object
Ratings       object
Metascore     object
imdbRating    object
imdbVotes     object
imdbID        object
Type          object
DVD           object
BoxOffice     object
Production    object
Website       object
Response      object
dtype: object

### Below here is scrap code for building

In [ ]:
# # list of TV show titles to query
# tv_shows = ["Altered Carbon", "Grey's Anatomy", "This is Us", "The Flash",
#             "Vikings", "Shameless", "Arrow", "Peaky Blinders", "Dirk Gently"]

# # TV Maze show search base URL
# base_url = "http://api.tvmaze.com/search/shows?q="

# # set up lists to hold response data for name and rating
# titles = []
# ratings = []

# # loop through TV show titles, make requests and parse
# for show in tv_shows:
#     target_url = base_url + show
#     response = requests.get(target_url).json()
#     titles.append(response[0]['show']['name'])
#     ratings.append(response[0]['show']['rating']['average'])

In [ ]:
# # create DataFrame
# shows_df = pd.DataFrame({
#     "title": titles,
#     "rating": ratings
# })

# shows_df