In [17]:

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

In [18]:
movie_data = Path("Resources/mo_movies_data.parquet")
movie_data_df = pd.read_parquet(movie_data)
movie_data_df.head()

,Title,Year,IMDB Rating,IMDB Votes,Genre,Box Office,IMDB ID,Budget,Revenue
0,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,3512454.0,115860.0
1,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,3512454.0,115860.0
2,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,3512454.0,115860.0
3,Camille Claudel 1915,2013,6.5,"3,889","Biography, Drama","$35,296",tt2018086,3512454.0,115860.0
4,A Sound of Thunder,2005,4.2,"20,549","Action, Adventure, Horror","$1,900,451",tt0318081,80000000.0,5989640.0

In [19]:
movie_data_df.dtypes

Title           object
Year            object
IMDB Rating     object
IMDB Votes      object
Genre           object
Box Office      object
IMDB ID         object
Budget         float64
Revenue        float64
dtype: object

In [20]:
movie_data_df["IMDB Votes"] = movie_data_df["IMDB Votes"].str.replace(',', '').astype(float)
movie_data_df["IMDB Rating"] = movie_data_df["IMDB Rating"].astype(float)

In [21]:
movie_data_df.dtypes

Title           object
Year            object
IMDB Rating    float64
IMDB Votes     float64
Genre           object
Box Office      object
IMDB ID         object
Budget         float64
Revenue        float64
dtype: object

In [23]:
movie_data_df.to_parquet("Resources/mo_movies_data.parquet")