Import TMDB Data from Kaggle
Merge with our data from OMDB on IMDB ID

In [2]:
# dependencies
import pandas as pd
from pathlib import Path

In [4]:
omdb_data_csv = Path("omdb_data.csv")
tmdb_data_csv = Path("movies_metadata.csv")

omdb_df = pd.read_csv(omdb_data_csv)
tmdb_df = pd.read_csv(tmdb_data_csv,low_memory=False)

In [5]:
print(tmdb_df.head())

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ... release_date  \
0  Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
1  When siblings Judy and Peter discover an encha...  ...   1995-12-15
2  A family wedding reignites the ancient feud be...  ...   1995-12-22
3  Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
4  Just when George Banks has recovered from his ...  ...   1995-02-10

       revenue runtime                                   spoken_languages  \
0  373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
1  262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
3   81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
4   76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released                                                NaN
1  Released          Roll the dice and unleash the excitement!
2  Released  Still Yelling. Still Fighting. Still Ready for...
3  Released  Friends are the people who let you be yourself...
4  Released  Just When His World Is Back To Normal... He's ...

                         title  video vote_average vote_count
0                    Toy Story  False          7.7     5415.0
1                      Jumanji  False          6.9     2413.0
2             Grumpier Old Men  False          6.5       92.0
3            Waiting to Exhale  False          6.1       34.0
4  Father of the Bride Part II  False          5.7      173.0

[5 rows x 24 columns]

In [7]:
# check columns
print(tmdb_df.columns)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [8]:
#drop unneeded columns
tmdb_df = tmdb_df[["imdb_id", "original_title", "budget", "revenue"]]
print(tmdb_df)

         imdb_id               original_title    budget      revenue
0      tt0114709                    Toy Story  30000000  373554033.0
1      tt0113497                      Jumanji  65000000  262797249.0
2      tt0113228             Grumpier Old Men         0          0.0
3      tt0114885            Waiting to Exhale  16000000   81452156.0
4      tt0113041  Father of the Bride Part II         0   76578911.0
...          ...                          ...       ...          ...
45461  tt6209470                      رگ خواب         0          0.0
45462  tt2028550          Siglo ng Pagluluwal         0          0.0
45463  tt0303758                     Betrayal         0          0.0
45464  tt0008536          Satana likuyushchiy         0          0.0
45465  tt6980792                     Queerama         0          0.0

[45466 rows x 4 columns]

In [10]:
tmdb_df = tmdb_df.rename(columns={"imdb_id": "IMDB ID", "original_title": "Title", "budget": "Budget", "revenue": "Revenue"})
tmdb_df

         IMDB ID                        Title    Budget      Revenue
0      tt0114709                    Toy Story  30000000  373554033.0
1      tt0113497                      Jumanji  65000000  262797249.0
2      tt0113228             Grumpier Old Men         0          0.0
3      tt0114885            Waiting to Exhale  16000000   81452156.0
4      tt0113041  Father of the Bride Part II         0   76578911.0
...          ...                          ...       ...          ...
45461  tt6209470                      رگ خواب         0          0.0
45462  tt2028550          Siglo ng Pagluluwal         0          0.0
45463  tt0303758                     Betrayal         0          0.0
45464  tt0008536          Satana likuyushchiy         0          0.0
45465  tt6980792                     Queerama         0          0.0

[45466 rows x 4 columns]

In [5]:
# Ensure Imdb rating has the same name in both dataframes - rename if necessary

In [6]:
complete_data = pd.merge(omdb_df, tmdb_df, on="IMDB ID")

KeyError: 'IMDB Rating'

In [ ]:
complete_data