Import TMDB Data from Kaggle
Merge with our data from OMDB on IMDB ID

In [1]:
# dependencies
import pandas as pd
from pathlib import Path

In [10]:
omdb_data_csv = Path("omdb_data.csv")
tmdb_data_csv = Path("movie_data_tmbd.csv")

omdb_df = pd.read_csv(omdb_data_csv)
tmdb_df = pd.read_csv(tmdb_data_csv,low_memory=False)

ParserError: Error tokenizing data. C error: Expected 100 fields in line 3, saw 142

In [11]:
print(tmdb_df.head())

  adult|backdrop_path|belongs_to_collection|budget|genres|homepage|id|imdb_id|original_language|original_title|overview|popularity|poster_path|production_companies|production_countries|release_date|revenue|runtime|spoken_languages|status|tagline|title|video|vote_average|vote_count|cast|directors  \
0  False|/zjLR7DbWujKiG7VhtjQ4r3gsjou.jpg||0|[{'i...
1                               False|||0|[{'id': 18
2  False|/7hbpOpGDOYZ4G8ddLuzNmzxZP6.jpg||0|[{'id...
3  False|/28a0wvZb8kyjVBd6BcPEnrHbrhm.jpg||0|[{'i...
4  False|/bQzj8DnIghVqUSe5EsH4uTV3jQb.jpg||500000...

                                          Unnamed: 1  \
0                                  'name': 'Comedy'}
1   'name': 'Drama'}]||43001|tt0055910|fr|Cybèle ...
2                                   'name': 'Drama'}
3   'name': 'Documentary'}]||43003|tt0072962|fr|V...
4                                   'name': 'Drama'}

                                          Unnamed: 2  \
0                                          {'id': 18
1                                  'logo_path': None
2                                          {'id': 37
3   who later committed suicide to avoid more pri...
4                                          {'id': 36

                                          Unnamed: 3  \
0                                   'name': 'Drama'}
1                                    'name': 'Fidès'
2   'name': 'Western'}]||43002|tt0056195|en|Lonel...
3   made his name by selling forged works of art ...
4   'name': 'History'}]||43004|tt0056196|en|Long ...

                                          Unnamed: 4  \
0                                       {'id': 10752
1                              'origin_country': ''}
2                                  'logo_path': None
3                                  'logo_path': None
4   each member is troubled and has been damaged ...

                                          Unnamed: 5  \
0   'name': 'War'}]||43000|tt0055827|fr|Le Capora...
1                                      {'id': 101713
2                         'name': 'Joel Productions'
3                                     'name': 'SACI'
4   they have issues with each other that lead to...

                                     Unnamed: 6  \
0                                Grand Illusion
1                             'logo_path': None
2   'origin_country': ''}]|[{'iso_3166_1': 'US'
3                       'origin_country': 'IR'}
4                             'logo_path': None

                                          Unnamed: 7  \
0   once more bringing together men from across t...
1                      'name': 'Les Films Trocadero'
2   'name': 'United States of America'}]|1962-05-...
3                                         {'id': 533
4                            'name': 'First Company'

                                     Unnamed: 8  \
0                             'logo_path': None
1                         'origin_country': ''}
2                            'name': 'Español'}
3                             'logo_path': None
4   'origin_country': ''}]|[{'iso_3166_1': 'US'

                                          Unnamed: 9  ... Unnamed: 1721  \
0                     'name': 'Les Films du Cyclope'  ...           NaN
1                                        {'id': 2325  ...           NaN
2                                 {'iso_639_1': 'en'  ...           NaN
3                              'name': 'Janus Films'  ...           NaN
4   'name': 'United States of America'}]|1962-10-...  ...           NaN

  Unnamed: 1722 Unnamed: 1723 Unnamed: 1724 Unnamed: 1725 Unnamed: 1726  \
0           NaN           NaN           NaN           NaN           NaN
1           NaN           NaN           NaN           NaN           NaN
2           NaN           NaN           NaN           NaN           NaN
3           NaN           NaN           NaN           NaN           NaN
4           NaN           NaN           NaN           NaN           NaN

  Unnamed: 1727 Unnamed: 1728 Unnamed: 1729 Unnamed: 1730
0           NaN           NaN           NaN           NaN
1           NaN           NaN           NaN           NaN
2           NaN           NaN           NaN           NaN
3           NaN           NaN           NaN           NaN
4           NaN           NaN           NaN           NaN

[5 rows x 1731 columns]

In [7]:
print(omdb_df)

                                           Title  Year  IMDB Rating  \
0                                The Dark Knight  2008          9.0
1                                      Inception  2010          8.8
2                                   Interstellar  2014          8.7
3                                   The Departed  2006          8.5
4                                       Whiplash  2014          8.5
5                                   The Prestige  2006          8.5
6                               The Intouchables  2011          8.5
7                               Django Unchained  2012          8.5
8                                         WALL·E  2008          8.4
9                            The Lives of Others  2006          8.4
10                          Inglourious Basterds  2009          8.4
11                         The Dark Knight Rises  2012          8.4
12                                      3 Idiots  2009          8.4
13                                   Toy Story 3  2010          8.3
14                                      The Hunt  2012          8.3
15                                     Incendies  2010          8.3
16                                            Up  2009          8.3
17                                  A Separation  2011          8.3
18                           Like Stars on Earth  2007          8.3
19                                 Batman Begins  2005          8.2
20                       The Wolf of Wall Street  2013          8.2
21                                Shutter Island  2010          8.2
22                           There Will Be Blood  2007          8.2
23                               Pan's Labyrinth  2006          8.2
24                        No Country for Old Men  2007          8.2
25                                     Prisoners  2013          8.2
26                                V for Vendetta  2005          8.2
27                      The Secret in Their Eyes  2009          8.2
28                                    Inside Out  2015          8.1
29                                       Warrior  2011          8.1
30                                   Gran Torino  2008          8.1
31  Harry Potter and the Deathly Hallows: Part 2  2011          8.1
32                              12 Years a Slave  2013          8.1
33                            Mad Max: Fury Road  2015          8.1
34                      The Grand Budapest Hotel  2014          8.1
35                                    Wild Tales  2014          8.1
36                                   Ratatouille  2007          8.1
37                                  Mary and Max  2009          8.1
38                                          Room  2015          8.1
39                                     Spotlight  2015          8.1
40                                          Rush  2013          8.1
41                           Hachi: A Dog's Tale  2009          8.1
42                          My Father and My Son  2005          8.2
43                                 Into the Wild  2007          8.1
44                                      The Help  2011          8.1

   IMDB Votes                         Genre    Box Office
0   2,896,249          Action, Crime, Drama  $534,987,076
1   2,572,598     Action, Adventure, Sci-Fi  $292,587,330
2   2,126,853      Adventure, Drama, Sci-Fi  $188,020,017
3   1,433,399        Crime, Drama, Thriller  $132,399,394
4   1,002,639                  Drama, Music   $13,092,000
5   1,451,983        Drama, Mystery, Sci-Fi   $53,089,891
6     935,390                 Comedy, Drama   $10,198,820
7   1,711,592        Comedy, Drama, Western  $162,805,434
8   1,210,308  Animation, Adventure, Family  $223,808,164
9     412,480      Drama, Mystery, Thriller   $11,286,112
10  1,600,312         Adventure, Drama, War  $120,540,719
11  1,837,469       Action, Drama, Thriller  $448,149,584
12    438,761                 Comedy, Drama    $6,532,874
13    898,166  Animation, Adventure, Comedy  $415,004,880
14    367,181                         Drama      $613,308
15    205,227           Drama, Mystery, War    $2,071,334
16  1,131,534  Animation, Adventure, Comedy  $293,004,164
17    259,785                         Drama    $7,099,055
18    207,890                 Drama, Family    $1,223,869
19  1,589,713          Action, Crime, Drama  $206,863,479
20  1,601,162      Biography, Comedy, Crime  $116,900,694
21  1,467,262      Drama, Mystery, Thriller  $128,012,934
22    644,594                         Drama   $40,222,514
23    705,755           Drama, Fantasy, War   $37,646,380
24  1,068,450        Crime, Drama, Thriller   $74,283,625
25    815,585         Crime, Drama, Mystery   $61,002,302
26  1,183,453         Action, Drama, Sci-Fi   $70,511,035
27    223,548       Drama, Mystery, Romance    $6,391,436
28    808,999  Animation, Adventure, Comedy  $356,921,711
29    500,126          Action, Drama, Sport   $13,657,115
30    818,036                         Drama  $148,095,302
31    953,417    Adventure, Family, Fantasy  $381,447,587
32    743,990     Biography, Drama, History   $56,671,993
33  1,108,995     Action, Adventure, Sci-Fi  $154,280,290
34    892,764      Adventure, Comedy, Crime   $59,301,324
35    218,296       Comedy, Drama, Thriller    $3,106,530
36    834,765  Animation, Adventure, Comedy  $206,445,654
37    187,527      Animation, Comedy, Drama           NaN
38    453,675               Drama, Thriller   $14,677,654
39    504,128       Biography, Crime, Drama   $45,055,776
40    516,847      Action, Biography, Drama   $26,947,624
41    314,219      Biography, Drama, Family           NaN
42     93,018                 Drama, Family           NaN
43    660,446   Adventure, Biography, Drama   $18,354,356
44    496,416                         Drama  $169,708,112

In [5]:
# Ensure Imdb rating has the same name in both dataframes - rename if necessary

In [6]:
complete_data = pd.merge(omdb_df, tmdb_df, on="IMDB Rating")

KeyError: 'IMDB Rating'

In [ ]:
complete_data